@use '/src/styles/mixins';
@use '/src/styles/colors';

.layout {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100vw;
  min-height: 100vh;
  max-width: 720px;
  margin: 0 auto;
  padding: 64px 0 128px;
}

html {
  &::before {
    pointer-events: none;
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--bg-color);
  }
}

.nav {
  position: fixed;
  top: 24px;
  display: flex;
  width: 100%;
  text-shadow:
    colors.$clrPrimaryLight 0 0 4px,
    colors.$clrPrimaryLight 0 0 16px,
    colors.$clrPrimaryLight 0 0 32px;
  @include mixins.contentWidth;
}

.nav__group {
  display: flex;
  flex-direction: column;
}

.nav__link {
  height: fit-content;
  padding: 12px 24px;
  color: colors.$clrPrimaryDark;
  font-size: 18px;
  font-weight: 400;

  @include mixins.tabletUp {
    font-size: 20px;
  }
}

.nav__sublink {
  margin-left: 24px;
  padding: 4px 0 4px 8px;
  color: colors.$clrPrimaryDark;
  font-size: 16px;
  border-left: 2px solid colors.$clrPrimaryDark;

  @include mixins.tabletUp {
    font-size: 18px;
  }
}

.nav--hide {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.nav__link--active,
.nav__sublink--active {
  color: colors.$clrSecondary;
}
