@use '/src/styles/mixins';
@use '/src/styles/colors';

.layout {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100vw;
  min-height: 100vh;
  padding: 64px 0 128px;
}

.nav {
  width: 100%;
  @include mixins.contentWidth;
}

.nav a {
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;

  @include mixins.tabletUp {
    font-size: 20px;
  }
}
