@use '/src/styles/mixins';
@use '/src/styles/colors';

.figure {
  display: inline-grid;
  margin: unset;
}

.figure__image {
  width: 100%;
  height: auto;
  max-width: 100vw;
}

.figure__caption {
  margin: 0;
  padding: 4px 24px 24px;
  background: radial-gradient(
    farthest-corner at 45% 20%,
    colors.$clrPrimaryLight 0%,
    transparent 70%
  );
}
