@use '/src/styles/mixins';
@use '/src/styles/colors';

.figure {
  margin: 32px 0 24px;

  @include mixins.tabletUp {
    margin: 40px 0 32px;
  }
}

.figure__image {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100vw;
}
