$clrPrimaryDark: #715df1;
$clrPrimaryDarkA90: #715df190;
$clrPrimaryDarkAbb: #715df1bb;
$clrPrimary: #d6c1ff;
$clrPrimaryLight: #ffd8f1;
$clrSecondary: #fce96e;
$clrSecondaryDark: #efa02e;
$clrBlack: #212121;
$clrBlackA40: #21212140;
$clrBlackA64: #21212164;
$clrWhite: #fff7fc;

:root {
  --clr-primary-dark: #715df1;
  --clr-primary: #d6c1ff;
  --clr-primary-light: #ffd8f1;
  --clr-secondary: #fce96e;
  --clr-secondary-dark: #efa02e;
  --clr-black: #212121;
  --clr-white: #fff7fc;
}
