@mixin tabletUp {
  @media (min-width: 720px) {
    @content;
  }
}

@mixin contentWidth {
  width: 100%;
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
}

@mixin contentPadding {
  padding-right: 24px;
  padding-left: 24px;
}

@mixin a11yContent {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
}
