@use '/src/styles/mixins';
@use '/src/styles/colors';

.home {
  @include mixins.contentWidth;
  @include mixins.contentPadding;
}

.home__img-house {
  width: 80%;
  height: auto;
  max-width: 400px;
  margin: 0 0 24px;
  stroke: colors.$clrBlack;
}

.home__title {
  @include mixins.a11yContent;
}
