@use '/src/styles/mixins';
@use '/src/styles/colors';

.home {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 1fr 1fr;
  max-width: 520px;
  margin: 40px auto 0;
}

.home__title {
  @include mixins.a11yContent;
}

.home__content {
  grid-row: 2;
  grid-column: 1/-1;
}

.img-orange {
  z-index: 1;
  grid-row: 1;
  grid-column: 2;
  place-self: start end;
  width: clamp(100px, 10vmax, 140px);
  height: auto;
  overflow: visible;
  margin: 0 24px 0 0;
}

.img-orange-with-leave {
  z-index: 1;
  grid-row: 3;
  grid-column: 1;
  width: clamp(100px, 9vmax, 130px);
  height: auto;
  margin: 24px 24px 0;
}

.img-twig {
  z-index: 1;
  grid-row: 3;
  grid-column: 1/-1;
  place-self: start end;
  width: clamp(200px, 35vmax, 300px);
  height: auto;
  margin: 0 24px 0 0;
}

.img-house {
  z-index: 1;
  grid-row: 1;
  grid-column: 1/-1;
  width: 100vw;
  height: auto;
  max-width: min(550px, 100%);
  margin: clamp(70px, 6vmax, 140px) 0 24px;

  .button-text {
    opacity: 0;
    animation: blinkText 6s infinite;
  }

  .arrow-line,
  .arrow-point {
    stroke-dashoffset: var(--arrow-line-length);
    stroke-dasharray: var(--arrow-line-length);
    animation: animateArrow 6s infinite;
  }

  .markise {
    animation: slideMarkise 3s infinite alternate;
  }

  .wall {
    fill: var(--clr-white);
    stroke: transparent;
  }

  .bg {
    fill: transparent;
    stroke: transparent;
  }

  .pointer {
    pointer-events: all;
    cursor: pointer;

    &:hover {
      filter: drop-shadow(0 0 4px var(--clr-secondary))
        drop-shadow(0 0 12px var(--clr-secondary));

      .arrow {
      }
    }
  }
  @include mixins.contentPadding;

  @keyframes animateArrow {
    0% {
      stroke-dashoffset: var(--arrow-line-length);
      opacity: 1;
    }

    30% {
      stroke-dashoffset: 0;
    }

    80% {
      opacity: 1;
    }

    100% {
      stroke-dashoffset: 0;
      opacity: 0;
    }
  }

  @keyframes slideMarkise {
    to {
      transform: translate(40px, 40px);
    }
  }

  @keyframes blinkText {
    0% {
      opacity: 0;
    }

    25% {
      opacity: 0;
    }

    35% {
      opacity: 1;
    }

    85% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
}
