@use 'styles/mixins';
@use 'styles/colors';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Urbanist, sans-serif;
  background-color: colors.$clrPrimaryLight;
}

h1,
h2 {
  margin: 12px 0 24px;
  font-weight: 300;
  line-height: 1.1;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

p {
  margin: 12px 0 24px;
  font-size: 18px;

  @include mixins.tabletUp {
    font-size: 20px;
  }
}

a {
  color: colors.$clrSecondary;
  text-decoration: none;
}
